<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1071709670909-s5h5nsmlphfq46g55vbkmnki5h3tukuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071709670909-s5h5nsmlphfq46g55vbkmnki5h3tukuc</string>
	<key>API_KEY</key>
	<string>AIzaSyDXiUxjLP4VYK51itCNSc7nkSmf44PEkC4</string>
	<key>GCM_SENDER_ID</key>
	<string>1071709670909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appsmall.Map-Demo</string>
	<key>PROJECT_ID</key>
	<string>mapapp-511cd</string>
	<key>STORAGE_BUCKET</key>
	<string>mapapp-511cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071709670909:ios:ca79e9ecb084f63f</string>
	<key>DATABASE_URL</key>
	<string>https://mapapp-511cd.firebaseio.com</string>
</dict>
</plist>